[2018-05-04 14:34] slowtech opened #15 "Nice job,i did have a requirement like this,Tks"

[2018-05-04 16:20] jedib0t commented on #15
You're welcome! I'm still not at a 1.0 stage, so let me know if you need any features that are not already available, and are not listed in the TODO sections in any of the READMEs.

I'm hoping to get most of the listed TODOs done by this weekend, and probably create a v1.0.0 tag.

[2018-05-04 16:20] #15 closed, assigned to nobody

[2018-08-20 18:42] jedib0t opened #58 "table: StyleLight is broken with SetAutoIndex(true)"
**Describe the bug**
When SetAutoIndex(true) is called on a Table Writer, and the `StyleLight` is used, the index column rendering is broken.

**Software (please complete the following information):**
 - OS: OSX and Linux
 - GoLang Version: 1.10.2

[2018-08-20 18:44] jedib0t opened #59 "table: Text coloring is broken when Column length is restricted"
**Describe the bug**
When a column's length is restricted using `SetAllowedColumnLengths(...)`, cells in that column with color coding show the right color only on the first line. All lines other than the first get rendered in the default color.

**Software (please complete the following information):**
 - OS: OSX and Linux
 - GoLang Version: 1.10.2

[2018-08-21 12:53] jedib0t opened #60 "progress: Support for an Overall Progress tracker"
**Is your feature request related to a problem? Please describe.**
A separate (mostly) non-user managed overall progress tracker would be awesome to keep track of the overall progress in a long running process with an approximate ETA based on the number of trackers done until now.

[2018-08-21 14:19] #58 closed, assigned to nobody

[2018-08-21 14:19] #59 closed, assigned to nobody

[2018-09-04 18:55] jedib0t commented on #60
Supported in release `v3.3.0`.

[2018-09-04 18:55] #60 closed, assigned to nobody

[2019-04-18 15:21] Issif opened #77 "Set background/foreground colors by row"
Hi,

Really nice package, easy to use and direct csv/html outputs are great.

I would like to change color row, didn't see anything related. My purpose is to set a background in red if a specific = X, green if Y, etc.

Same idea with html export, It could specify class for rows.

Regards,

[2019-04-20 12:45] Dids opened #78 "Potential unicode issue with tables/padding"
**Describe the bug**
The table formatting and padding worked brilliantly, until unicode characters were added to the mix, which seems to have broken the padding.

**To Reproduce**
See screenshot.

**Expected behavior**
I was half expecting this to be handled automagically, and while I'm not even sure if it's doable within the context of this library, I'd very much prefer to see it work.

**Screens

[2019-04-28 18:00] jedib0t commented on #78
Thanks for reporting the bug!

I'll try to fix this soon.

[2019-04-28 18:01] jedib0t commented on #77
Thanks for the feedback!

Sounds like the feature I listed in the [TODO](https://github.com/jedib0t/go-pretty/blob/master/table/README.md#todo) a long time back:
* Generic Cell Content Transformers (with some ready-made ones)
   * Base64 Decoder
   * Currency Formatter
   * UnixTime to Date & Time
   * Status Formatter (color "FAILED" in RED, etc.)

Will get working on this soon.

[2019-04-28 20:04] jedib0t commented on #78
Hwy @Dids --- it looks like this rendering issue is not easy to solve and has a strong dependency on the typeface that is used in the Console/Terminal. However, I've started using https://github.com/mattn/go-runewidth to calculate the rune width, and it should render better than before (but is not 100% right):

Before:
[code]

After:
[code]

If you find a better more accurate method of calculating

[2019-04-28 20:13] #78 closed, assigned to jedib0t

[2019-04-29 14:25] Dids commented on #78
@jedib0t Thank you very much! I figured it was a long shot, but happy to hear that you found a solution so quickly. :)

Any chance of a new tag/release for this?

[2019-04-29 14:29] jedib0t commented on #78
Yes. Will cut a new patch release in an hour or two.

Update: here you go: https://github.com/jedib0t/go-pretty/releases/tag/v4.0.3

[2019-05-10 07:15] jedib0t commented on #77
Hey @Issif ... I've a usable implementation in the branch `column-config`. Can you try it and let me know if this is what you are looking for? The final implementation may be different, but I'd love to hear feedback on how it is right now.

Sample code to format the contents of a column like a currency: https://github.com/jedib0t/go-pretty/blob/column-config/table/render_test.go#L361-L366 -- this

[2019-05-10 15:53] Issif commented on #77
Thanks.

If I understand correctly your code, we can add a function for modifying text/number by column, it means a function that will be applied on each cell of the column. For coloring the whole row, we need to add a function, that will set fore/background with same colors but considering a value from another cell, not current one. Your example shows how to make string replacement but I don't ge

[2019-05-10 17:04] jedib0t commented on #77
So, using the `Formatter`, you'll get access to the cell value which can be modified/colored/etc. at render-time. Something like:

Here is an example to format a Salary column that contains integer values:
[code]

This approach right now does not give you access to the other cells in the row, or let you set the background on the entire cell (works only on the text contents). WDYT?

[2019-05-10 20:28] Issif commented on #77
It works for colors. I agree that coloring the whole cell, not only the background of text, could be tricky.

![image](https://user-images.githubusercontent.com/4520100/57553854-18bbc100-7370-11e9-8d01-a696836bb68b.png)

It seems text alignments are lost, see the code I use for my test :

[code]

As `table.rows = []rows = []string`, maybe we could pass to `Formatter` function the "coordinates" of

[2019-05-11 04:00] jedib0t commented on #77
The alignment is incorrect because the code cannot handle the old and new style of instructions. It will be aligned correctly if you use ColumnConfig.Align instead of SetAlign(). Like so:
[code]

So I'm debating between two options:

A simple new function `SetFormatters` which doesn't impact any of the existing functions:
[code]
Which makes it super backward compatible but hard to manage when you

[2019-05-11 20:57] Issif commented on #77
Thanks for the tip, your package is so full of (great) features, it helps a lot to have this kind of examples.

I totally agree that current functions are annoying when we have a lot of columns and less readable

A new way to do so, like the function you propose, is a good idea for me, more readable, more controls. We can add your new `Formatter` that transforms value inside the cell, but we could

[2019-05-13 05:21] jedib0t commented on #77
Thanks for the feedback.

That render does look good - will try to find a way to make it work.

[2019-05-13 07:05] jedib0t commented on #77
Hey @Issif, I've just pushed one more commit on the same branch and have added the following interface to Table:
[code]

Here is a unit-test that uses the interface to format entire rows: https://github.com/jedib0t/go-pretty/blob/column-config/table/render_test.go#L515-L523 -- please note that this will color all the cells in the row except for the index column set using `SetAutoIndex` or `SetInde

[2019-05-13 13:18] Issif commented on #77
You rock !

![image](https://user-images.githubusercontent.com/4520100/57624063-68c59e00-7591-11e9-8885-d63d7c10eff8.png)

[code]

Will try it on a real program, a small tool to list our on-call users from PagerDuty. Will show you result right after.

[2019-05-13 15:35] Issif commented on #77
It's perfect, here the new output for my little tool, exactly what I wanted, current on-call lines are green (we are 3 teams, with a line for Business Hours Only (HO) and another for Non-Business-Hours (HNO), non colored lines are next shedules :

![image](https://user-images.githubusercontent.com/4520100/57634170-0f676a00-75a5-11e9-9ad0-5469deff014a.png)

(I obfuscated my colleagues' names, just

[2019-05-13 15:52] jedib0t commented on #77
Awesome. Now that it works, I'll clean-up the code a bit and cut a new tag in a day or two.

BTW, you might want to use `ColumnConfig.AlignHeader` instead of `SetAlignHeader()` just to not have to make changes in the future.

[2019-05-14 08:37] Issif commented on #77
@jedib0t I don't want to abuse your kindness but is that possible to add this behavior to `RenderHTML()` ? Thanks.

[2019-05-15 15:58] jedib0t commented on #77
Will definitely try to.

[2019-05-17 06:58] jedib0t commented on #77
Sorry for the lack of updates. Will try to get this out this weekend.

[2019-05-17 11:23] Issif commented on #77
don't worry, it's not urgent. thanks

[2019-05-29 10:02] jedib0t commented on #77
@Issif I've supported coloring the cells in RenderHTML() using CSS classes based on whatever you set using SetRowPainter() or ColumnConfig.Colors* or SetColors*(). The CSS classes are nested, so you can define your own styles like `.go-pretty-table .fg-red {color: #FF4500}` and it should work. Can you try it out and let me know if this works for you?

Sample output:
[code]

Note that I force-pushe

[2019-05-29 11:32] Issif commented on #77
Hi,

I got a `panic` :
[code]
Here the code for reproduce :

[code]
I use `go mod` for dependencies with your last commit : `github.com/jedib0t/go-pretty v4.0.4-0.20190529101452-a507b80e8af2+incompatible`

[2019-05-29 13:10] jedib0t commented on #77
Found 2 bugs. One in your code and one in mine. The one you want to fix is in the switch statement here:
[code]
Change it to `switch row[2].(string)`.

I've fixed the other bug I found in my code: https://github.com/jedib0t/go-pretty/commit/fa92d46815e9d6e82176328a7941f691cf1e0bd9

With the fixes:
[code]

[2019-05-29 13:51] Issif commented on #77
Thanks for both bug fixes, I thought have seen a shift in index key before, the row ids started at 1 and not 0. My bad. Sorry.

After your fix and a little bit of css :
![image](https://user-images.githubusercontent.com/4520100/58562433-877e9280-8229-11e9-95ae-1ef03a30f643.png)

Great ! Thanks.

[2019-05-30 02:24] jedib0t commented on #77
Will update documentation and cut a release in a day or two.

[2019-05-30 06:17] #77 closed, assigned to jedib0t

[2019-05-30 09:54] jedib0t commented on #77
Hey @Issif ... thanks for your feedback. I've cut a new release `v4.2.0` with the above fixes: https://github.com/jedib0t/go-pretty/releases/tag/v4.2.0

[2019-06-04 08:49] Issif commented on #77
Thanks again for your help.

Here a tool I just released that uses these new features : https://github.com/claranet/go-s3-describe

[2019-06-04 09:22] jedib0t commented on #77
Wow. Looks cool!

[2019-07-11 15:00] amandahla opened #85 "Table Title"
Hi,

Is there a way to write a title like this and all table be aligned?

[code]

I have tried creating a new BoxStyle changing TopLeft but the first line gets bigger and the others not.

[2019-07-13 22:47] jedib0t commented on #85
Hey, sorry for the late reply.

There is no supported way (currently) to render a title like that. You can do this another round-about way. Get the table into a string object using `tableStr := tw.Render()` and then manipulate the first line of the content to add a title into it.

Here's an ugly example that works even if the title is long than the first line:
[code]

Output:
[code]

[2019-07-15 19:39] amandahla commented on #85
Thanks! I'll try that!

[2019-07-17 01:32] jedib0t commented on #85
Let me know if you want a separate row above the headers that shows the title like so:
[code]

I can implement something like the above in a week or so when I find the time.

[2019-07-17 19:15] amandahla commented on #85
The first one is fine, thank you very much for the help!

[2019-07-25 06:38] mydockergit opened #86 "Is it possible to use two headers with different colors ?"
I have the following code:
[code]
It prints the following table:
![image](https://user-images.githubusercontent.com/37586216/61851307-3bfe0300-aebf-11e9-8204-2c332dc95543.png)

I wanted to add another header on the above table but with different color, that it will appear like that:
![image](https://user-images.githubusercontent.com/37586216/61851385-7c5d8100-aebf-11e9-9e6d-8b4d34577dc8.png)

This

[2019-07-25 06:48] mydockergit commented on #86
OK I found a workaround (calculating the rows length):
[code]

This is the result:
![image](https://user-images.githubusercontent.com/37586216/61852070-39041200-aec1-11e9-8819-793d50677ea9.png)

Let me know if you have other option to do it with your library, if not, you can close this ticket.
Thanks

[2019-07-25 20:20] jedib0t commented on #86
Sounds like you want a "Title" row similar to the one asked in https://github.com/jedib0t/go-pretty/issues/85 --- I'm yet to get that done. Will update once that feature is ready.

[2019-07-26 11:40] mydockergit commented on #86
Yes, but I also wanted the ability to control the title color.
So I can create a table with two headers with different colors.
Right now I am doing it manually.

[2019-07-26 23:54] jedib0t commented on #85
Hey @amandahla --- I just supported setting a title on a table, and styling it as necessary. Check out `tableWriter.SetTitle()` and `tableWriter.Style().Title`. It is used in some of the last few examples at https://github.com/jedib0t/go-pretty/tree/master/cmd/demo-table

It is now easy to get something like:
[code]

[2019-07-26 23:56] jedib0t commented on #86
Hey @mydockergit --- I just supported setting a title on a table, and styling it as necessary. Check out `tableWriter.SetTitle()` and `tableWriter.Style().Title`. It is used in some of the last few examples at https://github.com/jedib0t/go-pretty/tree/master/cmd/demo-table

It is now easy to get something like:
[code]

As you wanted, the way it gets rendered can be customized using Style.Title: ht

[2019-07-26 23:59] jedib0t commented on #86
One other way to get what you want is to wrap a table in another table. Just set the outer table's header style as needed and turn off the borders and separators on it.

[2019-07-27 12:32] mydockergit commented on #86
Wow, looks amazing. Great job !
I will check it out.

[2019-07-27 14:52] mydockergit commented on #86
Checked, works great.
Thanks

[2019-07-27 14:52] #86 closed, assigned to jedib0t

[2019-07-29 10:47] amandahla commented on #85
Great, thanks!

[2019-07-29 20:15] #85 closed, assigned to jedib0t

[2019-09-29 17:02] ptxmac opened #88 "demo-table uses deprecated features"
`cmd/demo-table/demo.go` is filled with called to deprecated methods. For instance, it uses `SetAlign` instead of  `SetColumnConfig`

[2019-10-29 03:26] jedib0t commented on #88
Hey. Sorry for the really late response. Yes you are right, it does use deprecated features. Will fix soon.

[2019-11-04 02:54] #88 closed, assigned to jedib0t

[2020-01-01 22:37] copejon opened #90 "Sort by time.Date"
Firstly, thank you for this thoughtfully implemented project! The documentation (via comments and code) are very well done and the use of library is very intuitive!

**Is your feature request related to a problem? Please describe.**
As the title hints, sorting by the builtin `time.Time` struct would be a logical additional feature to this project.  I have a personal project used to translate and r

[2020-01-01 23:11] jedib0t commented on #90
Hey. Thanks for the kind words about the code. 👍

I think sorting should work transparently on a column that contains only time.Time values. I'll double check anyhow and let you know.

[2020-01-02 03:45] jedib0t commented on #90
Hey @copejon ... I read your code where you were using `go-pretty/table`. I see that you are using `const layout = "01/02/2006"` when using `text.NewTimeTransformer(layout, nil)`.

Is it a must that your date/time be in that format? I usually find date/time very readable (and also lends itself automatically for sorting) if you use a layout like `time.RFC3339` (`"2006-01-02T15:04:05Z07:00"`).

For

[2020-01-02 04:50] jedib0t commented on #90
If you still want to keep the layout, let me know and I'll try to figure out a way to support sorting the contents before transforming it to text.

[2020-01-04 20:22] copejon commented on #90
@jedib0t Thanks for the detailed response!

The layout was chosen because it matches that used by the budget app and the bank in their transactions.  This makes it easier to cross reference flagged transactions from my app's output against the bank and budget registers:

e.g.

[code]

However, that may not a very compelling reason to add the feature and I can see why it makes sense to implement it

[2020-01-04 20:26] copejon commented on #90
Of course, there's also the point that I should probably organize my data a little bit better :)

[2020-01-04 21:59] jedib0t commented on #90
It does make sense to have a sorting function before converting to text. I get your use-case. Give me a week or so and I'll get something working for you.

[2020-01-28 23:03] jedib0t commented on #90
Hey @copejon ... sorry for no updates these past 25 days. I've not forgotten about this, and will try to find some time to add a pre-render sort feature.

[2020-01-30 20:34] copejon commented on #90
@jedib0t No worries!  I've been pretty distracted with actual work projects, so it's been on my back burner as well.

[2020-02-04 21:52] slnt opened #91 "Is there a way to paint a specific row/column entry?"
For example, I'd like to paint not a whole row but just a specific (row, column) entry in the table. Is this possible under the current API?

[2020-02-04 22:09] slnt commented on #91
Nevermind, the things I want are very clearly in the `text` package!

[2020-02-04 22:09] #91 closed, assigned to nobody

[2020-02-04 23:05] jedib0t commented on #91
You can also use the the SetRowPainter() interface as used here: https://github.com/jedib0t/go-pretty/blob/master/table/render_test.go#L517-L568

But this will paint the entire row and not just a single column.

[2020-04-09 11:39] g3rzi opened #93 "Using merged columns and rows in a table"
Hi,
first, you did an amazing work with this library, this is really great :).

I didn't find it in the examples, not sure if it possible but I wanted to check.
I want to create a table with merged columns and rows, like this one:
![image](https://user-images.githubusercontent.com/11998736/78895542-b5527b80-7a77-11ea-8198-873ee6f1dc93.png)

Is it possible?
In the header I am trying to create a col

[2020-04-12 08:22] infalmo opened #94 "Option to invert rows and columns"
Is it possible to add a feature to flip a table, such that the rows and columns are interchanged?
For example, table
[code]
should be flipped to
[code]

[2020-04-12 08:25] infalmo commented on #94
Even if flipping is not possible, adding a completely new table configuration would be equally good.

[2020-04-12 08:32] infalmo opened #95 "Add option to clear table row content"
Adding a feature to clear table row content would help in outputting dynamic tables, as the rows tend to get overwritten

[2020-04-15 01:57] ogazitt opened #96 "Centering the Title"
**Describe the bug**
Thanks for the great library!

The color table [1] implies that the title string can be centered.

I found the SetTitle function, which takes a format string as its first argument, so if I know the terminal width, I could presumably use sprintf-style formatting... but is that a property I can grab?

Or is there an easier way of centering the title string?

Thanks again for the

[2020-04-18 08:04] guumaster opened #97 "Add arbitrary separators to tables"
**Is your feature request related to a problem? Please describe.**
I would like to have the option to add a table row that is printed as a separator row. Like what happens with header and footer, but some way of programmatically add a new separator between any rows.

**Describe the solution you'd like**
Something like `AddSeparator()` to mark a line separator between rows.

**Describe alternatives

[2020-04-18 19:06] ogazitt commented on #96
found an example in cmd/demo-table/demo.go

t.Style().Title.Align = text.AlignCenter

[2020-04-18 19:06] #96 closed, assigned to nobody

[2020-05-07 16:53] jedib0t commented on #90
Hey @copejon on further thought, your idea of an option to hide a column makes a lot of sense. I'll implement an option in ColumnConfig and get it out this week. Sorry for the obscene delays.

[2020-05-07 16:54] jedib0t commented on #93
Hey thanks for the suggestion. I've always wanted to implement such a feature. Will look into it.

[2020-05-07 16:55] jedib0t commented on #94
This should be possible. But the way the code is structured currently, it may prove to be a little difficult with the coloring options. I'll look into this.

[2020-05-07 16:56] jedib0t commented on #95
I'm not sure I understand this. Can you explain in a little more detail?

[2020-05-07 16:58] jedib0t commented on #97
I think I understand your ask here, but can you share an example of how you'd like the output to look like?

[2020-05-07 17:21] infalmo commented on #95
Something like table.ClearRows() to delete all rows from the table. So if I have a table that updates it's contents after a particular interval of time, I need not reinitialise the table but instead just add rows to the table after clearing all previous rows.

Hope this was clear to you!

[2020-05-07 18:13] copejon commented on #90
Don't sweat it! My project hasn't been impacted - just thought it would be a nice-to-have :) Glad I could contribute the idea.

[2020-05-07 19:58] jedib0t commented on #96
Awesome!!! Thanks for self resolving this!

[2020-05-07 20:10] jedib0t commented on #95
Oh yes this will be a useful feature. Will implement.

[2020-05-07 20:12] jedib0t commented on #97
Never mind. I think this can be done. Will look into it.

[2020-05-07 22:56] guumaster commented on #97
Something like this:

[code]
Marking the line between Jon and Tyrion as separator with some method call

[2020-05-07 23:26] #95 closed, assigned to jedib0t

[2020-05-08 01:16] #90 closed, assigned to jedib0t

[2020-05-08 01:16] jedib0t commented on #90
Hey @copejon ... sorry for not giving you a proper pre-process-sort option, but with the new `Hidden` flag in `ColumnConfig`, you should be able to sort by a field, but mark it as hidden.

Please try it and let me know if it works or if you find any bugs.

Appreciate your patience! ✋

[2020-05-08 05:36] #97 closed, assigned to jedib0t

[2020-05-08 06:16] jedib0t commented on #97
Hey @guumaster, I've added support for appending Separator rows at will. However, please take a look at the caveats listed in the PR @ #101. The PR's description also contains sample code and output. Lemme know if this works, and if you need anything else.

Hope this helps! 👍

[2020-05-08 13:22] copejon commented on #90
+1 thanks!

[2020-05-09 08:21] guumaster commented on #97
This is great. Thank you very much. :+1:

[2020-05-09 17:18] jedib0t commented on #93
Hey @g3rzi... I was able to implement auto-merging cells vertically. The code is currently in the `table-automerge` branch with unit-tests which has examples. The example is also attached to the open PR #107. Can you try using the new code from that branch and lemme know if it works for you?

Merging cells horizontally is not supported yet - I'm yet to figure out how to implement it.

[2020-05-09 18:45] jedib0t commented on #95
Hey @infixint943 ... hope the new interfaces work for you. The one you want is `ResetRows()`.

[2020-05-09 20:16] jedib0t commented on #93
I've figured out a way to possibly support horizontal cell merges, but this may need some deep changes to the Table rendering logic and may take a lot more time. I'm gonna merge #107 for now.

Will work on the changes needed for horizontal cell merges, but a PR for that will appear at a later point of time. Will keep this issue open until then.

[2020-05-13 01:40] jedib0t commented on #93
Hey @g3rzi... after some trial and error, I'm afraid I won't be able to support horizontal cell merges as of now. With the way the code is structured currently, supporting horizontal merges would make the interfaces complicated and hard to understand.

Here is a sample output from my testing code:
[code]

I'll address this at a later point of time if I can make some deep structural changes to the

[2020-05-13 01:41] xitonix opened #112 "Footer misalignment when any text.Color is used in the Transformer"
**Describe the bug**
First of all, thank you so much for the amazing work @jedib0t 🏅

I appears that using any `text.Color` formatter in the footer transformer breaks the layout. To be clear, the snippet below is simplified. I don't only need to colorise the whole footer. It needs to be conditionally formatted and that's why I'm using Transformers.

**To Reproduce**
[code]

**Expected behavior**
T

[2020-05-13 02:06] jedib0t commented on #112
Hey thanks for the compliments. My first open-source project, so I'm a little attached to it at the moment. 😄

Found the bug b.t.w, your custom transformer is returning Bold text which looks like this with escape sequences: `[1m10000[0m`. The code then applies the style's formatter for the footer which is `text.FormatUpper` which converts the case-sensitive escape sequences too: `[1M10000[0M`.

[2020-05-13 02:08] jedib0t commented on #112
@xitonix Thanks for reporting the bug btw. I appreciate it!

[2020-05-13 06:02] xitonix commented on #112
Thank you for getting back to me so quickly @jedib0t . I tried the workaround you suggested and it worked perfectly. Thanks a lot mate.

Btw, what I said was not just a complement! That's a beautiful piece of work buddy. Good on ya!

[2020-05-13 16:28] #112 closed, assigned to jedib0t

[2020-05-13 16:30] jedib0t commented on #112
Hey @xitonix the latest code in `master` branch has the fix (https://github.com/jedib0t/go-pretty/commit/d24d83bda5d4e7ee242a5e73cb6e66ceb18cc2c6, https://github.com/jedib0t/go-pretty/commit/8b58fbaf3b31b8329524f6b6018e3352b569bf9f). I'll cut a tag by end of week.

Out of curiosity, do you use `go mod` or `dep` for dependency management? I transitioned to `go mod` some time back, but I figured rec

[2020-05-14 04:29] xitonix commented on #112
Hey mate. I do use go mod, but because of the reason you mentioned yourself above, it cannot pick up the right version unfortunately. But I don't really understand why go mod always fetches v4.3.0 while you don't even have a v4 branch, even though I explicitly asked for v5.0.1! This is what appears in my `go.mod` file after I run:

`go get github.com/jedib0t/go-pretty@v5.0.1`

[code]

[2020-05-14 05:41] jedib0t commented on #112
Yeah I have a fix in the pipeline for this. Give me a day or two. See if you can use the commit hash instead of the version tag.

[2020-05-14 15:07] jedib0t opened #115 "v5.x does not work with `go mod`"
**Describe the bug**
The `go mod` utility expects major versioning to be defined in the import paths and in the `go.mod` file. This is not done right, and hence `go get -u github.com/jedib0t/go-pretty@v5.0.1` does not work.

**To Reproduce**
In a new repo using `go mod`, try running `go get -u github.com/jedib0t/go-pretty@v5.0.1`.

**Expected behavior**
The code from `v5.0.1` is used and `go.mod`

[2020-05-14 15:09] jedib0t commented on #115
Workaround until this is fixed:
`go get -u github.com/jedib0t/go-pretty@8b58fba` <-- current latest commit on `master`

Or:
`go get -u github.com/jedib0t/go-pretty@master`

[2020-05-14 15:10] jedib0t commented on #115
@xitonix I'm tracking the versioning bug here. I've shared a workaround above until this is fixed.

The final fix will involve changing your import paths in all the files you use any library from `go-pretty`. Will share details in the base README.md once available.

[2020-05-15 05:35] xitonix commented on #115
Yep! The import paths need to be updated for sure mate. All good. Thank for keeping me in the loop buddy. 👍

[2020-05-15 17:44] #93 closed, assigned to jedib0t

[2020-05-15 17:46] jedib0t commented on #93
Hey @g3rzi I've supported both horizontal and vertical auto-merges. Please take a look at the latest release and the documentation @ https://github.com/jedib0t/go-pretty/blob/master/table/README.md#auto-merge

[2020-05-15 18:04] #115 closed, assigned to jedib0t

[2020-05-15 18:19] jedib0t commented on #115
@xitonix Please use `v6.0.0`. You'll have to change the import paths as directed at https://github.com/jedib0t/go-pretty#a-note-about-v600-and-above-

[2020-05-16 18:06] g3rzi commented on #93
@jedib0t this is great!! 😃
Thank you for the quick response, I will check it and update

[2020-05-17 03:00] legate opened #119 "Add option to not escape HTML for table"
I'd like to render HTML tables with links. However it seems the HTML is escaped, so this:

	t := table.NewWriter()
	t.SetOutputMirror(os.Stdout)
	t.AppendHeader(table.Row{"Item", "Link"})
	t.AppendRow(table.Row{"Foo", `<a href="http://example.com">Go to item</a>`})
	t.RenderHTML()

Results in this:

[code]

Is there a way to disable the HTML escaping?

[2020-05-17 03:05] jedib0t commented on #119
Oh wow. Will provide some way in the interface to stop escaping the text. Sorry for the bug.

Didn’t think this library would be primarily used to render HTML more than as a ASCII table renderer and didn’t pay enough attention/thought to it.

ETA for this to be fixed: a day or two.

[2020-05-17 17:24] #119 closed, assigned to jedib0t

[2020-05-17 17:33] jedib0t commented on #119
@legate I've provided a new struct to control the HTML rendering as you like. To fix your specific use-case, you'd have to add the following line before calling `t.RenderHTML()`:
[code]

The current list of options and the defaults can be found here: https://github.com/jedib0t/go-pretty/blob/master/table/style.go#L683-L701. I will try to bring `RenderHTML` on par with `Render()` going forward (by

[2020-05-17 23:25] xitonix commented on #115
Hi @jedib0t,

If you want to maintain multiple versions side-by-side, you have two options:
- Duplicate the source code in a folder named after your version (v6 folder for example)
OR
- Keep your work in separate branches (v6 branch in this case)
I personally prefer the later, because I don't like the idea of duplicating the source code multiple times.

Obviously the `go.mod` file in your `v6` bra

[2020-05-17 23:34] jedib0t commented on #115
Hey @xitonix ... I did decide to drop `dep` compatibility for now - if you look at the `dep` repo, the situation is really bad. If someone wants fixes back-ported, I've got a `v5` branch off which I can release `v5.x.x` patch releases, but I hope I don't have to do it.

And yes, you've to run one of the following to get the new code:
[code]

[2020-05-22 22:50] distek opened #121 "AppendSeparator | Method not available"
**Describe the bug**
package table not allowing use of `AppendSeparator()`
`t.AppendSeparator undefined (type table.Writer has no field or method AppendSeparator)`

I can see the method is still in the source, however.

**To Reproduce**
Use most recent branch of go-pretty
[code]

**Expected behavior**
Row separator to be printed.

**Screenshots**
n/a - unable to compile

**Software (please complet

[2020-05-22 23:01] distek commented on #121
Update: I must be doing something wrong. The table demo works just fine when calling `table.NewWriter()` the same way.

[2020-05-22 23:09] distek commented on #121
Ah, well then..

[code]

the `/v6/` part of it was missing.
Never had to deal with that before.

Closing.

[2020-05-22 23:09] #121 closed, assigned to nobody

[2020-05-26 17:50] jedib0t commented on #121
Yep, that is a new thing. Had to add the `/v6` in the path to make it compatible with `go mod`: https://github.com/jedib0t/go-pretty#a-note-about-v600-and-above-

[2020-05-30 23:31] distek commented on #121
Good to know! Thanks!

[2020-06-08 20:37] robertlacroix opened #124 "Option to suppress empty columns"
**Is your feature request related to a problem? Please describe.**
It'd be great if there was a way to suppress columns that only have empty cells. I'm calling `AppendRow` from a loop and one of the columns is only populated in some cases and it'd be great if the whole column could be suppressed if none of the rows have any value for it.

**Describe the solution you'd like**
There are probably a l

[2020-06-09 14:03] mattcanty opened #125 "Respect separators with auto-merge"
I am trying to build a table which shows who you are playing and also prints the board. The best I have been able to achive is the following:
[code]

However I think it would look neater with each row. Especially with more games.

[code]

For now I will stick with where it is at the moment, but I think it will start to look untidy if it's constantly flipping between merged and unmerged.

Seems to

[2020-06-10 15:16] jedib0t commented on #124
Hey. Sounds like a useful feature to have. Lemme look into it.

Just so you know, ColumnConfig has a Hidden flag that you can use to hide columns manually: https://github.com/jedib0t/go-pretty/blob/v6.0.3/table/config.go#L43-L46 --- what you are asking for here is an automated way to do it.

[2020-06-10 15:19] jedib0t commented on #125
Hey @mattcanty ... sounds like you may have enabled AutoMerge somewhere before calling Render. Can you share the code you are using to construct the table? AutoMerge should not be enabled by default without the user requesting for it.

Ref.: https://github.com/jedib0t/go-pretty/blob/v6.0.3/table/config.go#L25-L34

[2020-06-10 15:21] mattcanty commented on #125
Yeah sure, here it is. https://github.com/mattcanty/lichess-cli/blob/master/printer.go#L9-L33

[2020-06-10 16:43] robertlacroix commented on #124
Awesome, thanks for the enhancement!

[2020-06-11 05:03] jedib0t commented on #125
Ok, you are asking for AutoMerge in the ColumnConfig and hence the merging you see when the contents in the subsequent rows are the same. If you want to separate each column, there is a better way. Try something like:

[code]

Let me know if this works.

But again, is there a reason you are setting up AutoMerge to `true`?

[2020-06-11 05:04] #124 closed, assigned to nobody

[2020-06-11 05:06] jedib0t commented on #124
@robertlacroix Please try using `table.SuppressEmptyColumns()`. I just cut a tag for you to use: https://github.com/jedib0t/go-pretty/releases/tag/v6.0.4

[2020-06-11 06:03] robertlacroix commented on #124
Works great!! Thanks again, especially the quick turnaround

[2020-06-11 08:34] mattcanty commented on #125
Because the final column is multi-line.

Your example, results in:
[code]

Actually I just tried using the OS new line delimeter `\n` and it kinda works:

[code]

[2020-06-11 15:43] jedib0t commented on #125
Got it (I overlooked each line of the current game being rendered in separate rows). This library supports columns with multi-line strings. You could join all the chess-board rows into one multi-line string and just append one row for each move (instead of 8 rows for each move). Like so:

[code]

Output when run from your repo's main.go:
![image](https://user-images.githubusercontent.com/38574447/

[2020-06-11 17:27] jedib0t commented on #125
Hey @mattcanty ... I used to be into Chess when I was younger. So your project piqued my interest, and I thought I'd help you a bit by adding some colors and rendering each game as a proper board/table with legends:

![image](https://user-images.githubusercontent.com/38574447/84421106-ea8e5d80-abcf-11ea-9633-4c980bd1e7bd.png)

Here is the code to do the same (full contents of `printer.go`). I've l

[2020-06-11 17:46] jedib0t commented on #125
Unicode characters usually look different in each console. The image in the previous comment was on Microsoft Terminal running Ubuntu (WSL).

With a real-Ubuntu terminal, it was rendering all the chess pieces fine with this:
[code]

Output:
![image](https://user-images.githubusercontent.com/38574447/84421653-bc5d4d80-abd0-11ea-95bd-2e0696952358.png)

[2020-06-11 19:56] mattcanty commented on #125
Hey, this looks great. I'd be happy for you to submit this as it is as a PR if you like? If you do, please just delete `board.go` as it won't be needed anymore!

Thanks a lot for taking a deeper look at this one. I've only just started since Covid-19 with a few friends who already play. Learning fast, maybe I will win a game one day...

With the colour codes, I can probably get it to be neatly con

[2020-06-12 14:56] jedib0t commented on #125
Will do. Give me a day.

[2020-06-12 22:10] jedib0t commented on #125
Created a PR on your repo: https://github.com/mattcanty/lichess-cli/pull/2

I'll go ahead and close this. Good luck with your project. Feel free to ping me if you need any new features here.

[2020-06-12 22:33] #125 closed, assigned to nobody

[2020-06-22 18:41] mattcanty commented on #125
Thanks again for the PR. Will sure do.

[2020-07-06 02:49] autarch opened #127 "Support cell merging on a per cell basis with something like HTML's "colspan""
**Is your feature request related to a problem? Please describe.**

I'd like to display tables with more control over the exact placement of separators than auto-merge allows. For example, something like this:

[code]

Note the extra separators on the line starting with the caller "demo/demo_test.go ...".

AFAICT, there's no way to do this with auto-merge.

**Describe the solution you'd like**

I

[2020-07-08 04:08] jedib0t commented on #127
For supporting the feature requested in https://github.com/jedib0t/go-pretty/issues/94, I did start working on a `Cell{}` implementation, but I never got around to finishing it as I had to redo a lot of code. I'll try going back to it as soon as I find a good chunk of time.

BTW, `go-pretty` does do cell wrapping: https://github.com/jedib0t/go-pretty/blob/master/table/config.go#L64-L70 - you'd wan

[2020-07-08 04:12] jedib0t commented on #127
Can you share your table rendering code you are using for the above? I'm wondering why you'd need the blank lines with separators like above... is it due to you not wanting to share private data here? Or is it because you feel every `ACTUAL` and `EXPECT` column should have a blank leading line in each row?

[2020-07-08 20:05] autarch commented on #127
@jedib0t my table code is in https://github.com/houseabsolute/detest/tree/master/internal/table

[2020-07-08 20:09] autarch commented on #127
I think the example I shared probably doesn't have enough rows to answer this. Here's a few more involved examples.

[code]

So the `PATH` column is showing the "path" through a data structure. The corresponding Go code is:

[code]

The failure above is for the line `st.Idx(2, d.Equal(4))`. So the table tells you not just what wasn't equal, but how you got there. For a simple slice this is probabl

[2020-07-08 20:17] autarch commented on #127
Heh, now that I'm looking at the output from my own library I'm realizing it doesn't do the separators quite the way I want either, but I was able to fix it because I have the ability to do per-cell colspans.

[code]

[2020-07-08 21:53] jedib0t commented on #127
Thanks for the detailed info. Will try to get cracking on the `Cell{}` implementation. I think it is needed anyway if I've to make any more meaningful features on the table writer anyway.

[2020-08-16 20:27] swathinsankaran commented on #85
Hi,

Is it possible to justify the title to the center?

For example:
[code]

Regards,
Swathin

[2020-08-29 11:50] robertocommit opened #129 "!!! Important message !!!"
I am here just to say:

**THANK YOU SO MUCH**

What you built is so great :)

[2020-09-23 06:23] jedib0t commented on #129
Hey! Thanks a ton! 👍

[2020-09-23 06:23] #129 closed, assigned to nobody

[2020-09-23 06:41] jedib0t commented on #85
@swathins079 I apologize for not noticing your message for so long. Yes it is possible by using: https://github.com/jedib0t/go-pretty/blob/db920ca346f28bc68db715694bfa6fb1add936b3/table/style.go#L800

[2020-09-23 18:30] muesli opened #132 "Transformer affects sorting"
**Describe the bug**
I expected `SortBy` to operate on the raw table data. However as soon as I set a transformer on the column I sort by, the sorting breaks.

**Software (please complete the following information):**
 - OS: Linux
 - GoLang Version 1.15.2

[2020-09-23 20:45] jedib0t commented on #132
I'll look into this, but it'll be awesome if you could share a code snippet or simple example reproducing the bug.

[2020-09-26 05:33] jedib0t commented on #132
Hey I figured what is happening. The sorting is done after converting every column to string and that includes the calls to the column transformers.

I'll see if I can provide an option to sort before conversion to string/transformation, but I can't commit to an ETA.

I cannot switch it to be the default behavior as it will not be backwards compatible to anyone expecting the sorting to be done aft

[2020-09-27 20:02] muesli commented on #132
I see, thanks for the feedback! Maybe we could add this as a setting to the `SortBy` struct?

[2020-10-08 13:31] nicocha30 opened #134 "Progressbar ETA when ShowOverallTracker(false)"
**Is your feature request related to a problem? Please describe.**

ETA is not displayed when using *pw.ShowOverallTracker(false)*

**Describe the solution you'd like**

Add a ShowETA function to display the ETA when not using OverallTracker

Thanks!

Nicolas.

[2020-10-10 16:37] jedib0t commented on #134
Hey @Nicocha30 ... can you try using the code in the `progressbar-eta` branch and let me know if this is what you want?

Ref.: https://github.com/jedib0t/go-pretty/tree/progressbar-eta

[2020-10-11 10:25] nicocha30 commented on #134
Hi @jedib0t !

Thanks a lot for accepting this feature!

It's great, however, can the ETA be displayed on the same line ?

I'm getting something like this:

[code]

It would be better if printed on the same line:

[code]
Thanks,

Nicolas

[2020-10-14 03:24] jedib0t commented on #134
Hey @Nicocha30 sorry I misunderstood your original request. I've pushed some additional commits. `ShowETA(true)` now toggles ETA for all individual trackers instead of showing the overall ETA in the overall tracker.

[2020-10-14 08:31] nicocha30 commented on #134
Wow, this is awesome. Thanks!
However, in some cases, the progress bar seems to be "blocked" (like a deadlock ?) at `SetValue`.
Only happens when ShowETA(true).

I used the following test code :

[code]

[2020-10-14 17:00] jedib0t commented on #134
Hey thanks for the code snippet. Was able to reproduce the issue 1 time out of 10. Will try to find the root-cause and fix the same.

Edit: @Nicocha30 can you please use the latest code? I think I've found and fixed the deadlock.

[2020-10-15 11:29] nicocha30 commented on #134
Works perfectly.

Thanks a lot, will definitely use this feature

[2020-10-15 11:34] nicocha30 commented on #134
Woops, reopening the issue. The progressbar is still blocking...

[2020-10-21 05:11] Liurl21 opened #135 "If the title is longer than column 1 + 2, title wraps abnormally"
If the title is longer than column 1 + 2,  the length of the title is the total length of the column, like this:
[code]
such title are not easy to read, we think the table should expand and not wrap title:
[code]

code used to generate the table:

[code]

[2020-10-22 06:21] jedib0t commented on #135
Hey. Auto-managing the size of one or more columns automatically will break formatting and backward compatibility. I'd recommend you use SetColumnConfig to set one of the Column's minimum width as needed to adjust for the title.

[2020-10-23 06:58] Liurl21 commented on #135
ok, thank you.

[2020-10-23 15:43] jedib0t commented on #135
I'll leave this open to see if I can provide some options around the Title to do stuff like this.

[2020-11-03 10:11] nicocha30 commented on #134
Hey @jedib0t , the progressbar is still blocking, do you have any idea why ?

[2020-11-03 15:06] jedib0t commented on #134
Hey sorry for missing you last comment on this. Can you use the Increment interface instead of the SetValue interface and see if it still  blocks? I'll look into this when I find time.

[2020-11-12 02:09] mwarkentin opened #136 "Strange padding issue when rendering `%` in a column"
**Describe the bug**
Hello, I'm working on a PR in another project which is using this library: https://github.com/rocketmiles/aws-cct/pull/9

I'm attempting to add a column which is a percent value, so I'm also adding `%` as part of the `fmt.Sprintf` call: https://github.com/rocketmiles/aws-cct/pull/9/files#diff-2873f79a86c0d8b3335cd7731b0ecf7dd4301eb19a82ef7a1cba7589b5252261R175

The first issue

[2020-11-12 02:10] mwarkentin commented on #136
Removed all formatting (`Align: text.AlignRight`) from the column and confirmed the issue still exists:

[code]

[2020-11-12 02:16] mwarkentin commented on #136
I also tried forcing the width of the column, no dice:

[code]

[2020-11-12 02:19] mwarkentin commented on #136
Here's what I get if I only escape the `%` once:

[code]

[2020-11-12 02:43] mwarkentin commented on #136
Got the following suggestion from someone at work:

[2020-12-08 15:08] jedib0t commented on #136
First I apologize for the late reply. For whatever reason my Mail client and GitHub app both did not alert me about this new issue. 😞

Yes the code does indeed do a fmt.Sprint and the len() may be accounting for the double % symbols. Lemme try to reproduce the issue today and work on a possible fix.

[2020-12-12 17:09] mwarkentin commented on #136
No worries, thanks for looking into it!

[2020-12-28 13:53] gianarb opened #137 "Hide columns I don't want to render"
Hello! Thank you for this library

**Describe the solution you'd like**

I would like to hide columns from a pre-populated table when I render it.

**Describe alternatives you've considered**

I can restructure my code to dynamically return headers and data but it looks more complicated compared with hiding columns and render time. I am not really scared about the wasted memory consumed by hidden

[2020-12-28 16:05] jedib0t commented on #137
This feature is already supported. Check out this unit test to see his to do it: https://github.com/jedib0t/go-pretty/blob/9875be5d373667c8494725ef2ba6e4974069d72e/table/render_test.go#L760

[2020-12-29 07:34] gianarb commented on #137
This is awesome! Thanks a lot

[2020-12-29 07:34] #137 closed, assigned to nobody

[2021-01-20 12:27] ptxmac opened #138 "table/README is not using v6 for import paths"
**Describe the bug**
The example in https://github.com/jedib0t/go-pretty/tree/master/table#examples is pointing to `go-pretty/table` instead of `go-pretty/v6/table`

Samples should point to the newest version of the library

[2021-01-20 17:30] #138 closed, assigned to nobody

[2021-01-20 17:32] jedib0t commented on #138
Hey... fixed it. Thanks!

[2021-01-20 18:26] #134 closed, assigned to nobody

[2021-01-21 10:29] ptxmac opened #142 "Indeterminate Progress bar"
**Is your feature request related to a problem? Please describe.**

I have a tool which performs several operations where the total is unknown. I still use a progress bar to indicate that something is happening, but it would be nice to have a mode where the progressbar indicate that its length is unknown.

**Describe the solution you'd like**

Similar to how `pv` works with a unknown length, it wi

[2021-01-21 21:30] jedib0t commented on #142
Hey this would definitely be good to have. I think I've structured the code to be able to do this already. Will get to this when time permits. In the meantime if you want to contribute, feel free to do so with a PR.

[2021-01-22 10:15] ptxmac commented on #142
I might take a stab at it - got any pointers for how it should be integrated?

[2021-01-22 10:50] ptxmac commented on #142
It could either be a new setting on the tracker, or it could be a convention that if `Total = 0` (or if `Value > Total`) then it will automatically be shown as indeterminate

[2021-01-28 19:23] jedib0t commented on #142
@ptxmac I've been able to make some progress on this request. Can you try using the code in the `progress-indeterminate` branch? For demo, you can run `go run ./cmd/demo-progress`. The last tracker will not have a Total set, and should behave the way you requested.

[2021-01-29 09:50] ptxmac commented on #142
Awesome, it looks very close to what I was looking for.
I think the `%` field should be changed though, it doesn't make much sense to have `0.0%` at all times:
`Calculating Total   # 13 ...  0.0% [....<#>................] [42.25K in 898.624ms]`

[2021-01-29 16:03] jedib0t commented on #142
Correct. Missed that. Will look into it.

Edit: @ptxmac I've fixed it via https://github.com/jedib0t/go-pretty/commit/5d123d19349cf68b23be2b17ceabc9f2e06cb850

[2021-01-29 16:37] jedib0t commented on #142
Please note: there are three ready-made indeterminate tracker stylings for you to use:
[code]

I've also made it a function that can technically replace the entire progress bar... you could theoretically make it look like Pac-Man gobbling up the dots if you want to for indeterminate cases. 😉

Edit: two new styles you can use:
[code]

[2021-01-29 19:24] #142 closed, assigned to nobody

[2021-01-30 04:53] jedib0t commented on #142
@ptxmac I've just cut a new tag for you to use: https://github.com/jedib0t/go-pretty/releases/tag/v6.1.0

[2021-01-30 10:16] ptxmac commented on #142
Perfect, thanks!

[2021-02-02 22:15] jedib0t commented on #136
Hey @mwarkentin ... do you have some time to get back with more info?

I tried to stick as close to your table generation code as possible with this new code sample:
[code]
Output:
[code]

[2021-02-02 22:31] mwarkentin commented on #136
@jedib0t let me see if I can take a look tomorrow at the reproduction

[2021-03-16 20:02] gennaro-tedesco opened #149 "Unclear how to use SortBy"
**Describe the bug**
I could not find documentation on `t.SortBy`

**To Reproduce**
The following
[code]
generates `cannot use "first" (type string) as type []table.SortBy in argument to t.SortBy` (or anything else that is being passed, for that matter).

**Expected behavior**
I would like to be referred to documentation usage of the method `SortBy`. As [per here](https://github.com/jedib0t/go-pre

[2021-03-16 20:06] jedib0t commented on #149
Hey @gennaro-tedesco! Thanks for bringing this to my attention. Will fix the documentation soon.

For now you can refer to the unit tests to see how to use SortBy: https://github.com/jedib0t/go-pretty/blob/2843e11bf3a6fb5b34826430ec1b0dc870c5b195/table/sort_test.go#L36

[2021-03-16 20:22] gennaro-tedesco commented on #149
Thank you for your quick reply! It seems that the correct grammar is, however,
[code]
whereas the code in the test (namely without the full qualification `table.SortBy`) generates an exception of `undefined: SortBy`. I wonder if this is caused by the fact that the table is initialised in the test with
[code]
rather than
[code]
? If so, what is the difference between these two constructors?

[2021-03-17 05:04] jedib0t commented on #149
The unit-test was in the same package and so it didn't have to use the `table.` package qualifier.

`Table{}` returns the struct and `table.NewWriter()` returns an interface. Both are functionally similar and you can use either to do the same.

However, if you want to unit-test your code without invoking the actual Table generation logic, you should use the interface and generate mocks using mockg

[2021-03-17 08:19] till opened #150 "Multiple progress writers"
**Describe the bug**

Unclear to me how to use multiple progress writers. Not sure if bug or usage on my end.

It seems that once the first writer is autostopped (as its attached trackers finished), the next writer won't be started/rendered, etc.. I have a few cases where I may need to create trackers, at the time of creating the first writer, it's unclear how many more trackers I need "later" in

[2021-03-17 09:30] gennaro-tedesco commented on #149
Thank you very much for your explanation! All is working fine now, this issue can be closed!

[2021-03-17 11:06] till commented on #150
I tried a few things today:

 - It seems to work more reliably when I stop using `SetAutoStop(true)` and implement logic around `Stop()`.
 - I used a "global" progress tracker and keep resetting it with `SetNumTrackersExpected()`

Now, some of my output is out of order though. ;) Do you have any thoughts on how this will play nice with regular output written to `stdout`?

[2021-03-17 21:36] jedib0t commented on #150
~~Did you take a look at the demo code at https://github.com/jedib0t/go-pretty/tree/master/cmd/demo-progress?~~

Nvm, looks like you might have seen it already.

In case of not knowing how many trackers you will add in the process, it is better to NOT use AutoStop. It might make a lot more sense to control the progress writer completely from your end and call Stop() when you are sure you want to s

[2021-03-17 22:11] jedib0t commented on #149
👍🏽 will close once I fix the documentation to indicate how to use SortBy.

[2021-03-18 07:55] till commented on #150
When I said global, I meant, I add it to my factory and re-use this instance throughout. So that seems to work nicely indeed.

Trying to figure out what else can be done to align your lib with other output. I get that it may not work right now, but do you have any thoughts on what could be done?

Anyway, this is a very nice lib and thank you for taking the time to respond! 🙏

[2021-03-26 05:27] jedib0t commented on #150
Not at the moment no. I'll leave this open just in case I can think of something,

[2021-04-04 17:04] virtuald opened #151 "Provide mechanism to express an error for progress"
**Is your feature request related to a problem? Please describe.**

If I'm tracking the progress of an operation that failed, I'd like the final state of the progress bar to show that it failed instead of showing "done!". It seems that you can just change tracker.Message, but I don't think go guarantees that you can concurrently change that without using sync? ​

**Describe the solution you'd like

[2021-04-06 04:10] #149 closed, assigned to nobody

[2021-04-06 04:17] jedib0t commented on #136
Closing it for now. Please reopen when you have more data. Thanks!

[2021-04-06 04:17] #136 closed, assigned to jedib0t

[2021-04-06 18:45] #151 closed, assigned to nobody

[2021-04-08 09:58] lepasq commented on #94
Hi! I'd like to work on this issue.
My approach would be to add a method in table/table.go, which either simply swaps the contents of the columns and the rows, or which would create an entirely new table and then fill up the rows and columns invertedly. Is there anything that I should take into account, such as any side effects that could happen?

[2021-04-16 23:54] jedib0t commented on #94
@lepasq Inverting is part of the task. The other would be to reconcile the styling, Column/Row configs, the sorting, etc. If you want to take a stab at it, please try. But I fear that until the current logic is changed to treat each cell as its own object with all the properties embedded in it, inverting it may be too difficult.

[2021-04-21 03:41] virtuald opened #159 "progress: would like to indicate error before completion"
**Is your feature request related to a problem? Please describe.**

Let's say I have 100 pieces of a task, each piece takes 10 seconds to accomplish, and I can do them concurrently. If one of them fails, I'd like to tell the user that one of them has failed, but the others are still making progress.

**Describe the solution you'd like**

It would probably be best to let the tracker continue, and u

[2021-04-21 23:53] #159 closed, assigned to nobody

[2021-05-21 12:21] slmingol opened #166 "AutoMerge doesn't appear to work with Append* commands"
**Describe the bug**
When attempting to use the sample code here https://github.com/jedib0t/go-pretty/tree/main/table it doesn't seem to work with t.Append* commands.

**To Reproduce**
[code]

[code]

**Expected behavior**
Be able to reproduce the tables shown in the examples.

**Software (please complete the following information):**
 - OS: OSX
 - GoLang Version: go version go1.16.3 darwin/amd64

[2021-05-21 12:49] slmingol commented on #166
I think I see the issue. Wasn't pointing at `v6`.

[2021-05-22 18:27] droslean opened #167 "Panic: integer divide by zero when setting a style"
[code]

My code:

[code]

[2021-05-22 20:20] #166 closed, assigned to nobody

[2021-05-22 20:36] #167 closed, assigned to nobody

[2021-05-22 20:45] jedib0t commented on #167
Hey thanks for reporting this. I've fixed the code that caused the panic and created a new tag v6.2.2 with the fix.

However, I should also note that if you want to customize the table styles, you have to do it completely instead of just setting the Name. Another alternative is to use an existing style with all the values, and then start modifying it to your liking.
[code]

[2021-05-31 19:33] gennaro-tedesco opened #169 "increase row distance (padding)"
**Describe the bug**

Apologies if this is documented and I could not find it: I would like to increase distance between consecutive rows, namely allow for bigger padding between one row and the other.

**To Reproduce**

Looking at [these properties](https://github.com/jedib0t/go-pretty/blob/11849e40fe2d5c5e0c68bf6cbbb803a93e524321/table/table.go#L27) it seems only `allowedRowLength` is defined, l

[2021-07-04 16:07] icyphox opened #170 "`WidthMaxEnforcer` with `text.Trim` doesn’t trim text"
**Describe the bug**
Configuring a table column to a specified width, and setting the `WidthMaxEnforcer` field to `text.Trim` (from go-pretty/text) doesn’t actually trim the text. It instead pushes the next column by those remaining places.

**To Reproduce**
[code]

This outputs:

[code]

**Expected behavior**

[code]

**Software (please complete the following information):**
 - OS: macOS Big Sur

[2021-07-07 19:58] jedib0t commented on #169
At the moment, there is no way to increase the "padding"/distance between consecutive rows. You may want to just introduce newlines in your text to introduce an artificial empty line.

[2021-07-07 19:58] jedib0t commented on #170
Thanks for reporting this with enough details to reproduce the bug. Will look into it.

[2021-07-07 20:10] #170 closed, assigned to jedib0t

[2021-07-07 20:12] jedib0t commented on #170
Fixed it and cut a new tag for you: https://github.com/jedib0t/go-pretty/releases/tag/v6.2.3

[2021-07-07 22:23] gennaro-tedesco commented on #169
I see, thank you for looking into it!

[2021-07-08 01:44] icyphox commented on #170
That was quick, thanks a bunch!
--
Anirudh Oppiliappan
https://icyphox.sh

[2021-07-11 05:26] #169 closed, assigned to nobody

[2021-08-21 22:42] rfay opened #183 "Allow column to bleed to the right into empty columns to the right (spreadsheet-style)"
**Describe the bug**

I don't know that this is a bug or a support request or a feature request, but I'd like to be able to have the content of a cell fill the rest of the row to the right if the columns to the right are empty, as spreadsheets have always done by default.

Like spreadsheet cell B3 does here:

<img width="574" alt="Untitled_spreadsheet_-_Google_Sheets" src="https://user-images.gith

[2021-09-03 03:39] jedib0t commented on #183
Hey @rfay ... this cannot be supported at the moment because of the rudimentary implementation of the table rendering logic. I'd originally started working on an alternate approach a year or so back, and never found the time to go back to it as it involved changing a lot of the underlying logic. I'll try to see if I can find some spare time to start back that effort to support such a use-case.

Fo

[2021-09-03 14:21] rfay commented on #183
Thanks - yeah, I tried the auto-marge, but it didn't result in reasonable behavior at all.

[2021-10-05 22:14] anvari1313 opened #184 "Print rows one by one and incrementally"
I'm writing a CLI application that subscribes on a channel (let's say a nats subject) and I want to print the received message in a table. But I don't know how to print just a new row and not the whole table. My problem is every time I call the `Render` method of a table, it prints all of the rows of the table and if I don't call it, nothing is shown.

[2021-12-01 10:36] vijayrajah opened #185 "set witdth of Cols based on col number"
**Is your feature request related to a problem? Please describe.**
While printing table without row headers, it seems it is not possible to set the col width.

**Describe the solution you'd like**
Can we not use the column number and set the width?

**Describe alternatives you've considered**
I have had to set row headers, just to set the width

[2021-12-06 22:59] jedib0t commented on #185
Have you tried using the SetColumnConfigs function? Can you provide an example where you see it not working?

[2021-12-06 23:01] jedib0t commented on #184
Hey @anvari1313 sorry for the obscenely late response. Got busy with other things IRL.

Unfortunately, the above isn't an easy one to implement, since the row being added could alter the layout of the table (for ex. if one column has a longer length in the new row than all the previous rows).

[2021-12-07 05:39] qiuyi21 opened #186 "If string contains 'á' character, it will not be aligned."
**Describe the bug**
If string contains 'á' character, it will not be aligned.

[2021-12-08 17:14] jedib0t commented on #186
Aligning Unicode characters does not work 100% of the time. I'll see if there is any update to the library I use to measure width of such characters.

[2021-12-25 07:40] jedib0t commented on #185
Closing due to lack of response.

[2021-12-25 07:40] #185 closed, assigned to nobody

[2021-12-25 07:41] #184 closed, assigned to nobody

[2021-12-25 07:41] jedib0t commented on #183
@rfay I need to rework the auto-merge feature. I feel I implemented it badly.

[2021-12-25 07:41] #183 closed, assigned to nobody

[2021-12-25 14:52] rfay commented on #183
I hope you'll mention here when you have progress. I'll subscribe to release notifications as well.

Thanks for your work on this!

[2022-01-01 12:01] Blesmol opened #188 "Shorten time output value in progress bar"
Hi,

The progress bar allows to display the elapsed time for a tracker. However, the time is currently displayed with lots of digits after the decimal point:
[code]

It would be great if one could specify how many digits after the decimal point should be displayed, perhaps with a default of something between 0 and 2. After all, most times this should be totally sufficient.

Thanks & keep up the gr

[2022-01-01 12:09] Blesmol commented on #188
Ok, nevermind... only took a little bit longer until I found out how this can be done already:
[code]
So will close this issue again... :)

[2022-01-01 12:09] #188 closed, assigned to nobody

[2022-01-01 15:27] jedib0t commented on #188
👍

[2022-01-21 03:44] jedib0t commented on #186
Hey @qiuyi21 --- I updated the dependencies and cut a new tag. Can you check the alignment with v6.2.5?

[2022-01-22 18:55] rfay opened #191 "tables: Prevent wrapping on non-wrappable character"
**Is your feature request related to a problem? Please describe.**

I use go-pretty for tables that describe [ddev](https://github.com/drud/ddev) projects. For example:

[code]

The feature request would be to have a way to prevent wrapping of things that make a mess when they wrap. The example would be the "location" and URL cells on the "junk" project here. I often need to copy/paste those, and

[2022-01-23 02:34] jedib0t commented on #191
Hey @rfay!

I'm guessing your code works something like this:
[code]

Since your column is know to have URLs, I'd recommend one of the following:
1. Don't enforce a max width since you never want a URL to be cut off
2. If you think you'll have a URL and text, then don't enforce a max width, but introduce a new line after the URL using something like `strings.Replace(url, " ", "\n", 1) // watch out

[2022-01-24 01:24] rfay commented on #191
Thanks so much for the suggestions, I'll give it a go.

[2022-01-27 19:48] #150 closed, assigned to nobody

[2022-02-18 07:04] #191 closed, assigned to nobody

[2022-02-18 07:04] #186 closed, assigned to nobody

[2022-02-18 07:04] #135 closed, assigned to nobody

[2022-03-17 20:00] ykoehler opened #194 "Setting the MessageWidth to 40 caused incorrect progress output"
**Describe the bug**
I modified cmd/demo-progress/demo.go to use SetMessageWidth(40) and the progress stop to work properly (display keep scrolling down)

**To Reproduce**
See above

**Expected behavior**
Expect same behavior as with < 40 MessageWidth.

**Screenshots**
![image](https://user-images.githubusercontent.com/2739855/158885607-7b254efc-d6a1-4b05-889f-9636bd789193.png)

**Software (please

[2022-03-18 21:44] jedib0t commented on #194
This happens if the terminal width is shorter than the output width. You can try with original size, and a less-wider terminal. This cannot be fixed from this library's perspective.

An alternate approach is to get the current terminal width and adjust the lengths of individual components to sum up to something less than the terminal width. Even in this case, you'd have to watch and account for dy

[2022-03-23 15:43] ykoehler opened #195 "Line outputted in between, breaks the display. Ideally default StdOut should be changed."
**Is your feature request related to a problem? Please describe.**
In my code, if an error occurs, there may be some output on the stdout.  Using go-pretty, what happens is that on the next render, we go up and re-write that line and it hides it.

What would be perfect, would be for go-pretty to change the default stdout when rendering is initially started, then render its graph and either allow f

[2022-03-23 18:42] jedib0t commented on #194
Closing this bug for now due to lack of response.

[2022-03-23 18:42] #194 closed, assigned to nobody

[2022-03-23 18:49] ykoehler opened #196 "The "overall" ETA is always displayed even if ShowETA is false."

[2022-03-23 19:40] #195 closed, assigned to jedib0t

[2022-03-23 19:41] jedib0t commented on #195
Hey!

Thanks for the report. I've added a new interface `Log` in the Progress Writer interface that you can use to log additional messages that show up in the middle of progress tracking.

Sample log:
[code]

I've cut a tag too: https://github.com/jedib0t/go-pretty/releases/tag/v6.3.0

[2022-03-23 23:59] ykoehler commented on #195
Hi, this is nice, but wish the whole stdout was somehow "redirected" instead, will try to find a way for it.

[2022-03-24 03:53] jedib0t commented on #195
@ykoehler Have you tried the `SetOutputWriter` method? You can set up your own 'Writer' which will receive the raw text being rendered.

[2022-04-10 03:02] ykoehler opened #198 "Need more than done/fail, add custom ones."
The MarkAsDone/MarkAsErrored are nice, but we need custom ones, such as "canceled", "aborted" "skipped" or "interrupted", etc.

Maybe a MarkAsErrored(string) would be useful.

[2022-04-11 01:33] jedib0t commented on #198
This was brought up in an earlier issue, and my stance on this hasn't changed.

The progress tracker doesn't and shouldn't care about the "status variant" of the activity it is tracking. The client can use colors, or message formatting to convey this aspect of the task. If we go down the route of supporting all these custom statuses, there will be no end in sight and the interface would've mutated

[2022-04-11 01:33] #198 closed, assigned to nobody

[2022-04-11 01:35] jedib0t commented on #196
Sorry for no updates on this for so long. I'm trying to solve this without complicating the interfaces. Will share progress in a few days.

[2022-04-11 11:50] ykoehler commented on #196
No rush here, once my tool is complete, I will see if I can help with some of my enh  request.

[2022-04-11 11:52] ykoehler commented on #198
Color is certainly not a good enough solution, as there is no way to provide a "legend" to the end-user of what those mean, and the word fail in many colors does't look like a normal behavior, it looks more like a bug in the software.  I am unclear what is meant here by message formatting, can you point me to an example?

[2022-04-14 17:09] #196 closed, assigned to jedib0t

[2022-04-14 17:12] jedib0t commented on #196
Hey @ykoehler - fix is available in https://github.com/jedib0t/go-pretty/releases/tag/v6.3.1

[2022-04-14 17:25] jedib0t commented on #198
Originally MarkAsDone was the only supported status. MarkAsErrored was something I was not happy in implementing, as all it does is change the way the tracker is displayed by using a different [status string](https://github.com/jedib0t/go-pretty/blob/main/progress/style.go#L168) and [color](https://github.com/jedib0t/go-pretty/blob/main/progress/style.go#L138).

This could instead be done by just

[2022-04-16 17:03] patrick-hermann-sva opened #201 "Dynamic column creation for table rows"
hi!

let me start w/ my running code (the tables are looking great, thank you so much for your work!)

for creating the table rows i'm using a loop to iterate over a map w/ my custom type map[string]*Service. works great.
[code]

but now i want to print another custom struct/type and would like to fill the table/rows in a dynamic way. instead of doing object[x].field for the columns i would like t

[2022-04-20 04:34] jedib0t commented on #201
Maybe you can use something like this:
[code]

[2022-04-20 04:55] ghost opened #202 "Emoji breaks vertical table alignment"
**Describe the bug**
table elements with emojis in string break vertical alignment of the table, any fixes?
![send](https://user-images.githubusercontent.com/77295140/164156739-0ca60943-5036-424f-baef-5c44c566d5c8.png)

**To Reproduce**
https://goplay.tools/snippet/Un3XOwHqkiA

**Expected behavior**
vertical table alignment should not break

**Software (please complete the following information):*

[2022-04-20 15:54] jedib0t commented on #202
Duplicate of https://github.com/jedib0t/go-pretty/issues/186 -- Aligning Unicode characters does not work 100% of the time. The typeface/font you use in your terminal, the terminal emulator you use, all play a role in how the emoji get rendered, and this is kinda impossible at this time to fix. I'm using the best library there is to compute the real-width of the emoji characters, but due to the ab

[2022-04-20 16:23] #202 closed, assigned to nobody

[2022-04-29 07:25] idcdog opened #204 "SetTitle with SetStytle has something wrong"
**Describe the bug**
hi , when use SetTitle  and SetStyle, the title rows  length is wrong
<img width="858" alt="image" src="https://user-images.githubusercontent.com/18034474/165901177-b1b2d90b-fd42-4e0e-9e7b-6d560946616e.png">

The code:
`package main

import (
	"github.com/jedib0t/go-pretty/v6/table"
	"os"
)

func main() {
	t := table.NewWriter()
	t.SetOutputMirror(os.Stdout)
	t.AppendHeader(ta

[2022-05-01 05:24] jedib0t commented on #204
I was not able to reproduce this issue: https://goplay.tools/snippet/TUD1DWmuSw2

![image](https://user-images.githubusercontent.com/38574447/166133466-2765e652-cc12-4abd-95e1-59013f66820a.png)

What version of this module are you using? Are you on the latest published release?

[2022-05-01 05:24] #201 closed, assigned to nobody

[2022-05-08 23:27] jedib0t commented on #204
Closing this for now due to lack of response from OP. Please re-open if you can reproduce this.

[2022-05-08 23:27] #204 closed, assigned to nobody

[2022-05-10 19:50] patrick-hermann-sva commented on #201
yes this worked out great!! thank you very much for your great work!

[2022-05-16 21:40] wauxhall opened #205 "Quite poor documentation"
Most docs refer to "go and read the code", that's time-consuming and very annoying, especially when you find out that it's not what you were looking for.
No example usages for text package. Fix it please.

[2022-05-18 04:53] jedib0t commented on #205
Doesn't this have enough documentation for text: https://pkg.go.dev/github.com/jedib0t/go-pretty/v6@v6.3.1/text

If not can you describe what is missing?

[2022-05-18 08:42] idcdog commented on #204
<img width="695" alt="image" src="https://user-images.githubusercontent.com/18034474/168996729-fbd7d281-325e-48d8-8881-b6911a3b24fc.png">

set LANG=en and run is ok
and if set LANG=zh_CN.UTF-8 , run is error.
😂

[2022-05-24 04:13] jedib0t commented on #205
@wauxhall Please check the comment above. I'll close this issue if I don't hear back in a week. Thanks!

[2022-05-24 11:43] jlambert121 opened #207 "Horizontally merged rows always centered"
At this point this isn't a bug report or feature request, but a question.  I was attempting to create a summary footer row I wanted merged and aligned to the right, but it was always centered.  Digging into it some more, it looks like this is the desired effect - https://github.com/jedib0t/go-pretty/blob/main/table/render.go#L86.  Could you add some context as to why you override the alignment to

[2022-05-24 16:08] jedib0t commented on #207
This is not a bug but it is definitely something I want to fix by giving the user an option on the alignment to use.

Will get this fixed this week. 🤞

[2022-05-24 18:19] jlambert121 commented on #207
That'd be awesome!  I was going to attempt to do it if there wasn't a large technical hurdle, but my guess is you can do it in a fraction of the time if you have an idea of what's needed.

[2022-05-25 10:43] jlambert121 commented on #207
One other semi-related question, when merging rows horizontally column width seems to auto-size to the width of the contents of the merged cell.  Is that related to the changes you're aware of related to merged cell alignment?

[2022-05-26 04:08] jedib0t commented on #207
You mean cell A with width 5 and cell B with width 7 when merged have a cell with width 12? If this is the case, the behavior is right. If not, can you please explain?

[2022-05-26 04:19] jedib0t commented on #207
Hey @jlambert121 can you check the commit above and lemme know if this works for you? At the moment, I cannot provide a way to customize alignment modes per instance and it will be global to a row.

[2022-05-26 11:50] jlambert121 commented on #207
Yep, would agree with that.  What I was seeing was column A was 5 wide (3 rows), column B was 7 wide (3 rows), footer merged between column A and B where the text was 8 would make both column A and B 8 wide by adding the footer rather than looking at the total width of the footer (12) and saying it would fit.

[2022-05-26 11:50] jlambert121 commented on #207
This is awesome - exactly what I was expecting, thank you!

[2022-05-26 11:54] jlambert121 commented on #207
For the merged cell footer width, this is what I was referring to (the first col is at max 3 chars wide, the 2nd col is 8 chars wide):
![image](https://user-images.githubusercontent.com/1409929/170483077-a4d33e3a-c9b4-4ff7-842f-ec460389be7f.png)

[2022-05-26 16:16] jedib0t commented on #207
I'm sorry but I still don't understand the issue. Can you share a screenshot of the table without auto-merge enabled on that one row?

[2022-05-26 17:38] jlambert121 commented on #207
Here's an example of what I was looking at.  If you comment out the footer it draws the cells at the correct width, but adding the footer looks like it calculates the correct width of the cell based on all columns (including the footer) and not taking into account that that cell is actually wider.  As I typed this out, this may be a difficult calculation to make on the fly.

[code]
![image](https:

[2022-05-26 18:02] jedib0t commented on #207
Interesting. The issue here is that the Footer's 1st column length is being used for the 1st and 2nd columns (incorrectly). Let me debug this a bit.

[2022-06-06 14:50] jlambert121 commented on #207
What's your thoughts about merging the alignment work and I can open a new issue for the column width issue?  I might be able to get some time this week to look at it as well.

[2022-06-07 17:20] jedib0t commented on #207
@jlambert121 sorry for the delay - I slept on this issue. I've merged the fix proposed for the first issue and cut a tag for use: https://github.com/jedib0t/go-pretty/releases/tag/v6.3.2 --- I'll try to address the footer issue - it is not easy and I remember I decided to skip supporting this back then - let me revisit and see if there is a way to address this without breaking anything or introduc

[2022-06-14 01:29] jedib0t commented on #207
@jlambert121 Had a brain fart when I agreed the footer column length was an issue.

Here is the render with the auto-merge:
[code]

Here is the render without the auto-merge:
[code]

As you can see, it is just using the longest column length (that being the column from the footer row) as the first column length.

Currently merging does not adjust the column lengths (even if all the rows have their

[2022-06-14 01:29] #207 closed, assigned to jedib0t

[2022-06-19 01:28] breezewish opened #209 "text.RuneCount should be called as text.RuneWidth"
**Is your feature request related to a problem? Please describe.**

The `RuneCount` function is actually implemented as calculating the rune **width** instead of rune **count**.

**Describe the solution you'd like**

Rename the function to `RuneWidth`.

[2022-06-20 17:50] jedib0t commented on #209
Agreed that it is misnamed. Will rename it in a few days (but leave the original function marked as deprecated).

[2022-06-20 18:14] kichik opened #210 "Upgrade gopkg.in/yaml.v3 to 3.0.1"
Can you please update to 3.0.1 to resolve [CVE-2022-28948](https://nvd.nist.gov/vuln/detail/CVE-2022-28948)? I'm getting Dependabot alerts because I have a dependency on this library which depends on an old version of `gopkg.in/yaml.v3`.

[code]

[2022-06-20 22:24] #205 closed, assigned to nobody

[2022-06-20 22:39] jedib0t commented on #210
Fixed. Use tag https://github.com/jedib0t/go-pretty/releases/tag/v6.3.3 to get the fix.

[2022-06-20 22:40] #210 closed, assigned to nobody

[2022-06-20 22:40] jedib0t commented on #209
Fixed. Use tag https://github.com/jedib0t/go-pretty/releases/tag/v6.3.3 for the fix. Please note:
- text.RuneCount is marked as deprecated and will be removed in the next major release
- text.RuneWidthWithoutEscSequences is the replacement

[2022-06-20 22:41] #209 closed, assigned to nobody

[2022-07-13 21:53] andrewpmartinez commented on #207
I have a pretty complex data set to output and ran into this design choice with merged values.

[2022-07-14 20:55] jedib0t commented on #207
@andrewpmartinez I've delivered a bug-fix for the issue relating to merging and wrapped lines: https://github.com/jedib0t/go-pretty/releases/tag/v6.3.4 --- can you please try this?

[2022-07-14 23:12] andrewpmartinez commented on #207
Updated to v6.3.4 and I see the following:

[code]

1) Vertical lines are not broken by later cells multiple lines, nice (near the first row with `DtMM5CCOZ `)
2) Later cells with cell merging are still centered even w/o setting them to be centered (aka default)

I can provide sample code and input if you would like. Let me know as it will take some effort.

[2022-07-14 23:56] jedib0t commented on #207
@andrewpmartinez For #2, the default align used is AlignCenter (as shown in comments):
[code]

Can you try overriding it with your preferred Alignment options?

[2022-07-15 13:30] andrewpmartinez commented on #207
That did it, thank you very much!

Unrelated but looks like the last horizontal line that has auto merge has a single vertical bar tick at the end. In the output below you can see it after `cf01` on the last line. Let me know if you want a separate issue logged.

[code]

[2022-07-15 15:44] jedib0t opened #215 "table: auto-merge issue with bottom cell separator"
That did it, thank you very much!

Unrelated but looks like the last horizontal line that has auto merge has a single vertical bar tick at the end. In the output below you can see it after `cf01` on the last line. Let me know if you want a separate issue logged.

[code]

_Originally posted by @andrewpmartinez in https://github.com/jedib0t/go-pretty/issues/207#issuecomment-1185549064_

[2022-07-15 16:12] #215 closed, assigned to jedib0t

[2022-07-15 16:26] jedib0t commented on #215
@andrewpmartinez - fixed this issue and cut a new tag for you: https://github.com/jedib0t/go-pretty/releases/tag/v6.3.5

Can you please try it and lemme know if that fixed it for you?

[2022-07-15 16:30] jedib0t commented on #215
Also, you can use nested tables for the Configuration column -- tables within tables -- instead of using auto-merge to achieve a table like the above. Lemme know if you have any questions.

Sample:
[code]

Output:
[code]

[2022-07-15 16:55] andrewpmartinez commented on #215
It does, thank you again!

[2022-08-05 02:40] manoelmozzer opened #218 "Custom top and bottom table style"
First, thanks for the great library. It is excellent.

It would be nice to be able to customize the first and last rows of the table different from the middle ones.

From what I've seen, `MiddleHorizontal` (`t.Style().Box.MiddleHorizontal`) controls the style of all horizontal lines. However, it would be nice to have independent `Top` and `Bottom` options.

These options could generate the followi

[2022-08-05 23:10] jedib0t commented on #218
This is possible to do. Will try to get this implemented.

[2022-08-06 00:32] jedib0t commented on #218
The implementation is complex simply because this introduces a LOT of edge cases (literally). Just thought I'd let you know to not expect this soon. Will update this thread when I make some progress.

[2022-08-19 13:18] HappyStu opened #220 "The top border line was misaligned when title was added"
Hello! I think this project is very nice. But  there is still one small question.
When set the title of table, I find that the top border line is misaligned. For example:

   ┃ Divide!                                                                                                                                                    ┃
   ┣━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫

[2022-08-21 04:37] jeanfrancoisgratton opened #221 "Bottom line in box takes the FG color of the last line in table"
**Description**
When changing the fore/background colors of rows in a table, the bottom line in the box enclosing the table takes that FG+BG value

**To Reproduce**
See code way below, with explanations

**Expected behavior**
Bottom border should be the same as the rest of the borders

**Screenshots**
![image](https://user-images.githubusercontent.com/19715390/185775509-3af1df7a-ebe8-4101-9108-3de

[2022-08-21 04:44] jedib0t commented on #221
Thanks for the bug report and the compliments. Sounds like the Row Painter is being invoked for the separator/border incorrectly. I'll look into this tomorrow.

[2022-08-21 04:49] jeanfrancoisgratton commented on #221
Looks like I've erased the compliment (I wanted to put it in the main report). You got it, that's all that matters.

No worry, I can live with the issue for now. Let me know if my report needs more info.

[2022-08-21 14:57] jedib0t commented on #220
This sounds like a bug. Lemme take a look.

[2022-08-21 15:06] jedib0t commented on #220
I'm not able to reproduce this bug @HappyStu.

This is the code I used:
[code]

This is the output I got:
[code]

You can try it here: https://go.dev/play/p/I6uxssyXxhN?v=goprev

Can you share the code you used to test this?

[2022-08-21 15:08] jedib0t commented on #220
This sounds similar to the bug reported in https://github.com/jedib0t/go-pretty/issues/204 --- do you have a different LANG value?

[code]

[2022-08-21 15:30] jedib0t commented on #220
Found the issue. An underlying runewidth library is computing the length of the middle separator in StyleBold `┃` as 2 with `LANG=zh_CN.UTF-8`. When rendering the title row, this makes the title text to be padded more than necessary. At the moment, I don't have a fix for it. I'll try to follow up with the runewidth library maintainers for a solve.

[2022-08-21 15:52] #221 closed, assigned to jedib0t

[2022-08-21 15:53] jedib0t commented on #221
Hey @jeanfrancoisgratton --- the latest code in the main branch has the fix. If you can verify with it, I can cut a tag for you.

[2022-08-21 16:11] jeanfrancoisgratton commented on #221
@jedib0t , this might seem a bit of a stupid question, but remember, this is about my first full-fledged GO software.

How do I go about removing earlier versions of `github.com/jedib0t/go-pretty/v6` from go.mod ?
I've erased go.{mod,sum} and $HOME/go/pkg/, go mod init vmman3, go mod tidy, it comes back with the "old" code when I build.

Thanks for your patience... I feel dumb.

[2022-08-21 18:02] jedib0t commented on #220
Reported this in the dependency repo: https://github.com/mattn/go-runewidth/issues/64

[2022-08-22 03:04] HappyStu commented on #220
Thanks for your reply. So I think I can use a fixed symbol width, such as middle separator of 1, to circumvent the problem caused by LANG=zh_CN.UTF-8. Or use English. Thank you again!

[2022-08-22 03:50] jedib0t commented on #220
@HappyStu if you are not gonna have East Asian characters in your table contents, you can now use a function I've provided as a workaround for this issue: `text.OverrideRuneWidthEastAsianWidth(false)`. Run this function once and all your `go-pretty` code will pretend to deal with non-asian character-set and should work without breaking alignment like you reported.

Tag: https://github.com/jedib0t/

[2022-08-22 03:50] #220 closed, assigned to jedib0t

[2022-08-22 03:51] jedib0t commented on #221
Tag: https://github.com/jedib0t/go-pretty/releases/tag/v6.3.7

[2022-08-22 03:53] jedib0t commented on #221
Hey! Don't feel bad. `go mod` is not straightforward... Try using the following command:
[code]

This should fix go.mod to have just one version of go-pretty, and a `go mod tidy` should clean up your go.sum file.

[2022-08-22 09:40] jeanfrancoisgratton commented on #221
Well, I was expecting the update to show up before you tagged the version, so I _was_ a bit dumb :)

Changed v6.3.6 to v6.3.7 in go.mod once you tagged the repo, go mod tidy, go build and here we go, I can confirm the fix.
Thanks for the quick replies+fix.

[2022-09-09 07:00] darbogx opened #226 "Question about AutoMerge option"
It is not a bug, but I have a question about generating table with auto-merge option.
I wrote following code:
[code]
which generate output table like below:
[code]
The combined width of Text3 and Text4 is equal to the sum of  the widths of the largest elements in Text3 and Text4.
What I want to achive is more "compact" and smaller table, like below. Is there any option to merge two (Text3 and Text

[2022-09-09 18:43] jedib0t commented on #226
Hey yes I got what you are asking for. I should implement some sort of look ahead to figure out the column lengths after merges. Will try to work on this soon.

[2022-09-10 04:34] jedib0t commented on #94
Closing this as I haven't been able to make any progress on this, and I haven't seen anyone else request for this feature. Please feel free to reopen if you feel otherwise.

[2022-09-10 04:34] #94 closed, assigned to jedib0t

[2022-09-10 04:35] jedib0t commented on #127
Haven't been able to get to this yet. This would need a major rewrite of the table rendering logic and may not be worth the effort. Will keep this open for some more time, and if I don't make any meaningful progress, I may end up closing this.

[2022-09-19 02:30] kcmvp opened #227 "How to set html table border"
**Is your feature request related to a problem? Please describe.**

I want to set border for a html table, here is what I am doing

[code]

but I found the out html table does not have border(same effect as traditional way 'border=1')
and the output html file does not contains a **style** section

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**D

[2022-09-19 07:13] naveenbharadwaj-nc opened #228 "Possibility to disable output of HTML on console"
Hello,

Currently, table.RenderHTML() is going to print the output of the table on standard output.
[code]
I don't want the entire table to be printed in console. I would rather want to use above code and print the table into a HTML file. Is there a way to NOT output the HTML code on the console? If not, could you please consider this as enhancement?

[2022-09-19 16:24] kcmvp commented on #227
it does not support html table with border or I wrongly use the api?

[2022-09-19 16:47] jedib0t commented on #227
Hello! You need to use CSS for this. The table generated will have a "class" associated with it, and you should be able to customize it using CSS. `Style().Options.DrawBorder` controls console output and not HTML. HTML sytling will have to be enforced using CSS.

For example:
[code]

Output:
[code]

In the above, the class on the table has been set to `foo_table`. You should be able to customize i

[2022-09-19 16:51] jedib0t commented on #228
The function `table.RenderHTML()` does not print to `os.Stdout` by default. It prints to os.Stdout only when `table.SetOutputMirror(os.Stdout)` is called beforehand.

[code]

Output:
[code]

[2022-09-20 07:15] naveenbharadwaj-nc commented on #228
Thanks

[2022-09-20 07:15] #228 closed, assigned to nobody

[2022-09-20 11:48] kcmvp commented on #227
Thank you very much! You mean I need a separated css file? And save it in the same folder with the generated html file?

[2022-09-20 13:45] jedib0t commented on #227
The table html is not the entire HTML file anyway. So you can have the CSS in the same file or separate, it is up to you.

The point being you style the HTML table yourself using CSS but it is an one time effort since you style it based on HTML tags and not based on the content.

[2022-09-20 15:17] kcmvp commented on #227
got it. thank you! I think it's great to hook the output method write the css string to the html. at least give use a choice.

[2022-09-20 15:18] #227 closed, assigned to nobody

[2022-09-20 20:14] jedib0t commented on #227
The colors on table rows/columns will be set as classes defined here: https://github.com/jedib0t/go-pretty/blob/main/text/color_html.go. So use nested classes to define how you want colors to appear in HTML.

[2022-09-23 19:00] amitlevy21 opened #229 "Add unicode-bidi to support RTL languages"
**Is your feature request related to a problem? Please describe.**
Right to Left (RTL) languages like Hebrew and Arabic don't work well with go-pretty table functionality.
The order of columns doesn't map well, and the headers spacing is also not formatted.

This picture is taken from Konsole, a terminal that supports unicode-bidi
![2022-09-23_21-56](https://user-images.githubusercontent.com/28672

[2022-09-24 05:17] jedib0t commented on #229
Can you share a sample program with dummy data, and a hand-crafted "expected" output? I've got no clue about Hebrew/Arabic, and would like to know what the input will look like and what the output should look like before I can say if this is something that this library can/should support. I'd prefer text answer that I can run myself, instead of an image like above.

Thanks!

[2022-09-24 15:27] amitlevy21 commented on #229
Thanks for getting back so quickly!

I've made a repo with example code and expected results. While crafting the expected output, Iv'e encounter issues where I couldn't format it to the desired results without wrapping some strings with `[]`. So I test it in the code and found out I almost get the desired result by wrapping each header string in the first row and any string with `[]`
https://githu

[2022-09-24 17:22] jedib0t commented on #229
I rewrote some of the code for simplicity to my benefit as follows:
* ~~https://go.dev/play/p/hdm8CUOvJZe~~ (old)
* https://go.dev/play/p/Lj9DVSQ2fsM

Output:
[code]

So if I understand it right, the proper output is the first one but without the brackets. Correct?

[2022-09-24 17:50] amitlevy21 commented on #229
Yes, exactly

[2022-09-24 18:25] jedib0t commented on #229
Okay. From my testing, the direction is being auto-determined by some golang internals and not by `go-pretty`. I'll try to see if there is some way to control this without letting it auto-decide based on content so that I can expose the same control to users of go-pretty.

But here is a workaround using the table styling with not-so-good-looking-output. Until I find a way forward for this issue at

[2022-09-24 18:32] amitlevy21 commented on #229
Thanks for looking into this! the workaround are totally fine by me :)

[2022-09-25 00:41] jedib0t commented on #229
Hey @amitlevy21 I've added support for forcing the text direction for tables with BiDi content: https://github.com/jedib0t/go-pretty/pull/230

Can you try your code without wrapping, with the following directive:
[code]

Once you verify functionality with the latest content from the `main` branch, I'll cut a tag for you.

[2022-09-25 12:21] amitlevy21 commented on #229
Thanks @jedib0t ! It's much better, there is a small indentation issue which I'm not sure if its specific to bidi or not.
If the slice of tags is empty, it can cause this wrong spacing in the last column:

![image](https://user-images.githubusercontent.com/28672915/192143090-089666ac-ecce-42cf-8305-06713c25865c.png)

[code]

[2022-09-25 16:41] jedib0t commented on #229
This may be an issue with the terminal emulator you are using, or the font/typeface. Here is how it looks on my system:

<details>
<summary>Code used with table@v6.3.9</summary>

[code]
</details>

![image](https://user-images.githubusercontent.com/38574447/192154911-eee9a2bb-4de8-40d3-ae41-d97a8013b8c5.png)

Here it is with tags appended to table as `e.Tags` instead of using `strings.Join`:
![Scr

[2022-09-26 17:08] amitlevy21 commented on #229
I see, looks good to me! thank you for providing this!

[2022-09-26 17:31] #229 closed, assigned to jedib0t

[2022-10-06 08:07] alajmo opened #234 "Border color when title is used"
**Describe the bug**
No way to set border style for title.

**To Reproduce**

[code]

**Expected behavior**
I expect to be able to color the top portion of the border.

**Screenshots**
![border](https://user-images.githubusercontent.com/5246600/194255448-55a04a68-d6df-467d-9001-6d654799b492.png)

**Software (please complete the following information):**
 - OS: `Linux 5.18.0-2-amd64 Debian 5.18.5-1

[2022-10-07 16:26] jedib0t commented on #234
Ack. This solution for this is part of the solution for #218. Will leave this open just for tracking.

[2022-10-16 13:46] JinoArch opened #235 "column looks unresponsive"
I am facing an issue where the column tables doesn't looks responsive. Not sure which property auto aligns columns

For example, when I use terminal in full screen it shows me expected output (shown below) and when I try to minimise terminal tab it gives sample output (shown below)

In the below the **remark** column outputs is more multiline.  Would like to know If any property is there where the

[2022-10-17 04:53] jedib0t commented on #235
@JinoArch this is a function of the terminal. There's only so many characters that can be shown in a line. Terminals will try to wrap lines to fit the window size when you reduce the terminal size. There is nothing this library can do to overcome this. Depending on the terminal program you use, you may be able to force the terminal to NOT wrap the lines.

[2022-10-18 13:57] #235 closed, assigned to nobody

[2022-10-24 05:07] darbogx commented on #226
Hi @jedib0t, I hope You are doing well. Any update to this issue?

[2022-10-24 15:58] jedib0t commented on #226
Hey sorry got busy with "work" work. Will try to get this done soon.

[2022-10-26 06:03] naveenbharadwaj-nc opened #236 "Difference in table rendering on console and log file"
**Describe the bug**
The table is compressed on standard output, whereas the formatting is correctly applied when the logs are downloaded into a file.

**To Reproduce**
[code]

**Expected behavior**
Table is rendered as per above formatting.

**Screenshots**
![image](https://user-images.githubusercontent.com/102787031/197946938-19f2eb50-11fe-49a9-8a2b-c3480a73bbc2.png)
![image](https://user-images

[2022-10-26 06:28] #236 closed, assigned to nobody

[2022-10-26 06:28] naveenbharadwaj-nc commented on #236
Looks like this issue is really related to the console settings rather than application.

[2022-10-27 13:13] dviljoen opened #237 "Question on colors"
I see examples for adding color to columns, rows, headers, footers, etc.  But I don't see any way to change the color in one particular cell.  I have a cli tool to show health status of a system and I'd like to colorize the status cell (green for "Green", red for "Red", etc.)  I cannot figure out if that is possible.

[2022-10-27 14:55] jedib0t commented on #237
Multiple ways to do it using the `github.com/jedib0t/go-pretty/v6/text` package:
[code]

[2022-11-01 19:35] #237 closed, assigned to nobody

[2022-11-04 02:14] jedib0t commented on #226
Hey @darbogx I've made some progress with tables where some columns are merged in all the rows. Check out the unit-tests [here](https://github.com/jedib0t/go-pretty/blob/table-complete-merge/table/render_test.go#L592-L615) and [here](https://github.com/jedib0t/go-pretty/blob/table-complete-merge/table/render_test.go#L641-L663). However I'm yet to address your use-case. Working on it whenever I hav

[2022-11-04 08:23] darbogx commented on #226
Hi @jedib0t,
Many Thanks, You did an amazing job! I did some tests with following code and it seems that something is wrong.
[code]
What I want to archive is to insert long strings into table with wrapping. Above code gives me following tables:
[code]
First 2 are ok, but with 3 and 4 I had problems. They are not rendering as I expected and I don't know if I am doing something wrong or there is oth

[2022-11-04 16:52] jedib0t commented on #226
Pushed a simpler fix to the same branch. Here is the output now:
[code]

It can still use some work with the header columns in the 3rd case, but it looks so much better than before overall.

I'll probably commit the final fix and tag it this weekend. 🤞🏽

Edit: I meant I'll fix the issue with the headers in the third table above before tagging.

[2022-11-05 21:14] #226 closed, assigned to nobody

[2022-11-05 21:15] jedib0t commented on #226
Hey @darbogx ... I've delivered a [fix](https://github.com/jedib0t/go-pretty/commit/006d8ca28d211be5feecaf7853ed9a026584ea7f) to the main branch using PR #238.

Can you please verify it this works for you? Once you confirm, I can cut a tag.

[2022-11-05 22:53] cryi commented on #226
Hi @jedib0t, we are dealing with this too. I wonder whether this can be extended for columns. (If it is it, it does not in latest)
I mean we have multiple tables where each has header describing its content. E.g.

[code]
And all columns are extended to width of `Indexed Movies`

[2022-11-05 22:59] jedib0t commented on #226
@cryi I'm not sure I understand your question.

Can you open a new issue with:
* a better snippet of your code with real calls within the for loop
* what is the output you expect?

Thanks!

Edit.: by the way, you don't need to call AppendSeparator between header and regular rows - they are added automatically for you.

[2022-11-06 15:10] jedib0t commented on #226
@cryi I think I may have an idea of what you are trying to do... Did you try using the `SetTitle` interface?

[code]

Output:
[code]

[2022-11-06 15:29] jedib0t commented on #226
@darbogx I've cut a tag for you: https://github.com/jedib0t/go-pretty/releases/tag/v6.4.1

[2022-11-06 16:37] cryi commented on #226
Yes that is wat I was looking for. Thank you vm @jedib0t

[2022-11-06 23:27] #234 closed, assigned to jedib0t

[2022-11-06 23:29] jedib0t commented on #234
Hey @alajmo ... the other feature may not see the light of the day. So I've delivered a fix for your issue and cut a tag for your use: https://github.com/jedib0t/go-pretty/releases/tag/v6.4.2

[2022-11-06 23:36] jedib0t commented on #218
Hey @manoelmozzer ... I honestly tried to make this customization work, but the more I worked on it, the more it felt like a lot of code quality/simplicity/maintainability had to be sacrificed to make this work.

I have code that can stylize Title/Header/Rows/Footers all separately in their own individual styles. But this change required a bunch of backward-incompatible changes and a major version

[2022-11-06 23:57] #127 closed, assigned to jedib0t

[2022-11-07 04:56] jedib0t commented on #132
Hey! I finally got around to working on a solve for this when I realized that the "transformers" are invoked even before I convert the column contents into string. So there is no realistic way for me to compare and sort the contents before transformation since I cannot do `<` check on two `interface{}` objects.

Workaround I'd suggest: have an additional column with the original values and use tha

[2022-11-07 04:57] #132 closed, assigned to nobody

[2022-11-07 05:30] darbogx commented on #226
Hi @jedib0t, Excellent job! Thank You so much. Now it works as I need.

[2022-11-07 16:00] alajmo commented on #234
Thank you, works wonderfully :)

[2022-11-11 01:27] muesli commented on #132
No worries :smiley: I ended up using that workaround in `duf` fwiw. It's not ideal, but I understand why it's problematic.

[2022-11-20 09:41] patrick-hermann-sva opened #244 "Print tables in parallel"
i got some cool stuff printed out with your tables in various cli projects, thank you very much for your work @jedib0t!

is there a way to print those two (or even three) whole tables in parallel? obviously i print those independent tables from their own data source (retrieve the information for each by k8s api call) in a loop row by row but i would be nice to have the tables print next to each ot

[2022-11-21 21:24] jedib0t commented on #244
Hey! Not sure if I understand the request here... you can do this by using multiple table objects already... so I'm a little confused.

Can you explain?

[2022-11-27 14:55] iyear opened #245 "[progress] corner case: overall tracker disappears"
**Describe the bug**
When `Progress.updateFrequency` and `tracker completion time` are both small and similar(especially equal), the overall tracker may disappears.

The reason for this (maybe): the overall tracker is determined to be done before the tracker is appended, but the tracker is successfully appended before the next render. Progress continues to run, but the overall tracker will never a

[2022-11-28 15:43] jedib0t commented on #244
Closing due to lack of response. Feel free to re-open if you want to with more information.

[2022-11-28 15:43] #244 closed, assigned to nobody

[2022-11-28 15:46] #245 closed, assigned to nobody

[2022-11-28 16:51] jedib0t commented on #245
Cut a tag for you with the fix: https://github.com/jedib0t/go-pretty/releases/tag/v6.4.3